<div class="nav-wrapper">
    <link rel="stylesheet" href="../dist/css/nav.css">
    <script src="../dist/js/nav.js"></script>
    <ul class="nav">
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div>
